@model IEnumerable<EmployeeWebApp.Models.Funcionario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Empresa.NomeDaEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimeiroNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UltimoNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataDeNascimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Empresa.NomeDaEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimeiroNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UltimoNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataDeNascimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FuncionarioID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FuncionarioID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FuncionarioID })
        </td>
    </tr>
}

</table>
